<IfModule mod_rewrite.c>    Options +FollowSymlinks	RewriteEngine On	RewriteCond %{SCRIPT_FILENAME} !-d	RewriteCond %{SCRIPT_FILENAME} !-f				RewriteRule ^contacto.html index.php?op=contacto        #RewriteRule ^download-([^|]+) data.php?op=descargar&curp=$1        #RewriteRule ^sendMail data.php?op=enviar&curp=$1</IfModule>