<div id="breadcrumb"><!-- breadcrumb starts-->
    <div class="container">
        <div class="one-half">
            <h4>AVCA</h4>
        </div>
        <div class="one-half last">
            <nav id="breadcrumbs"><!--breadcrumb nav starts-->
                <ul>
                    <li>Estas aquí:</li>
                    <li><a href="index.html">Home</a></li>
                    <li>AVCA</li>
                </ul>
            </nav><!--breadcrumb nav ends -->
        </div>
    </div>
</div><!--breadcrumbs ends -->
<div class="container">
    <div class="one-half">
        <section class="flex-container"><!-- flex slider starts-->
            <div class="flexslider ">
                <ul class="slides round">
                    <li><img src="images/team/about-1.jpg" alt=" "/></li>
                    <li><img src="images/team/about-2.jpg" alt=" "/></li>
                    <li><img src="images/team/about-3.jpg" alt=" "/></li>
                </ul>
            </div>
        </section><!-- flex slider ends-->
    </div>
    <div class="one-half last">
        <h4>AVCA</h4>
        <p>
            Somos Contadores Especializados en Impuestos, dedicados a dar un servicio de alta calidad y eficiencia a nuestros clientes, para darles soluciones integrales y óptimas, acordes al entorno económico y comercial en el que se encuentren.
            Nuestra definición de alta calidad está basada en comprometernos con la responsabilidad de marcar la diferencia y dar un servicio único, maximizando cada uno de los atributos de nuestros clientes.
<br><br>
            Pretendemos ser una firma líder en el ramo contable-fiscal, brindando siempre un servicio de calidad y cercanía con nuestros clientes para el crecimiento de los mismos, llevando estrecha comunicación para la mejor toma de decisiones día a día.
        </p>
        <br/>

    </div>
    <div class="horizontal-line">
    </div>

</div>