<div id="breadcrumb"><!-- breadcrumb starts-->
    <div class="container">
        <div class="one-half">
            <h4>Nuestros Servicios</h4>
        </div>
        <div class="one-half last">
            <nav id="breadcrumbs"><!--breadcrumb nav starts-->
                <ul>
                    <li>Estas aquí:</li>
                    <li><a href="index.php">Inicio</a></li>
                    <li>Servicios</li>
                </ul>
            </nav><!--breadcrumb nav ends -->
        </div>
    </div>
</div><!--breadcrumbs ends -->
<div class="container">
    <div class="one">
        <div class="three-fourth">
            <div class="blog-post layout-2">
                <div class="media-holder">
                    <a href="images/servicios/asesoria.jpg" class="portfolio-item-link" data-rel="prettyPhoto" title="Asesoría Fiscal">
                        <span class="portfolio-item-hover"></span><img src="images/servicios/asesoria.jpg" alt=" "/>
                    </a>
                </div>
                <div class="permalink">
                    <h4><a href="blog-post.html">Asesoría Fiscal </a></h4><br />
                </div>
                <!-- End post-meta -->
                <div class="post-intro">
                    <p>
                        Uno de los temas fundamentales de cada cliente es el aspecto fiscal, ya que cada operación va ligada a este, por lo que es necesario llevar a cabo cada una de ellas con un estricto apego a la ley, siendo necesario desarrollar e implementar acciones especificas  y particulares para cada empresa, para que el cliente tenga la certidumbre de que cada operación está cumpliendo con las normas tributarias aplicables.
                    </p>
                    <br/>

                </div>
            </div>
            <div class="blog-post layout-2">
                <div class="media-holder">
                    <a href="images/blog/blog-small-02.jpg" class="portfolio-item-link" data-rel="prettyPhoto" title="Nómina">
                        <span class="portfolio-item-hover"></span><img src="images/blog/blog-small-02.jpg" alt=" "/>
                    </a>
                </div>
                <div class="permalink">
                    <h4><a href="blog-post.html">Nómina</a></h4><br />
                </div>

                <!-- End post-meta -->
                <div class="post-intro">
                    <p>
                        Se lleva a cabo un análisis de los planes de prestaciones y de seguridad social en cada empresa para una correcta determinación de la nómina, buscando un equilibrio entre empresa y trabajadores.
                    </p>
                    <br/>

                </div>
            </div>
            <div class="blog-post layout-2">
                <div class="media-holder">
                    <a href="images/blog/blog-small-03.jpg" class="portfolio-item-link" data-rel="prettyPhoto" title="Some Image Dummy Title">
                        <span class="portfolio-item-hover"></span><img src="images/blog/blog-small-03.jpg" alt=" "/>
                    </a>
                </div>
                <div class="permalink">
                    <h4><a href="blog-post.html">Desarrollo empresarial</a></h4><br/>
                </div>

                <!-- End post-meta -->
                <div class="post-intro">
                    <p>
                        Apoyo a empresas en temas como creación de las mismas, planes de políticas y procedimientos, asesoría en temas financieros, fiscales, contratación de personal, enfocados al sano crecimiento de nuestros clientes.
                    </p>
                    <br/>

                </div>
            </div>

        </div>
    </div>
</div>